
.hero-comp{
    width: 100%;
    display: flex;
    padding-top: 220px;
    padding-bottom: 110px;
}

.hero-left{
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-left>h1{
    font-size: 6rem;
    color: rgb(254, 254, 254);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 0.8;
    text-align: center;
}
.hero-left>p{
    text-align: center;
    margin-top: 30px;
}
.hero-left>p>span{
    color: rgb(186, 126, 242);
    font-size: 2.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
}
.hero-typewriter{
    height: 50px;
}
.hero-left>button{
    background: linear-gradient(120deg, rgb(172, 83, 223) 10%,rgb(255, 121, 226), rgb(133, 251, 255));
    color: rgb(22, 22, 22);
    width: fit-content;
    padding: 25px 80px;
    font-size: 1.7rem;
    letter-spacing: 0.008em;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
}

.hero-right{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}
.right-bg{
    width: 200px;
    height: 200px;
    left: 35%;
    top: 20%;
    background-color: rgb(52, 52, 247);
    position: absolute;
    border-radius: 100%;
    box-shadow: 2px 2px 290px 75px rgb(51, 51, 246)
    
}

.right-main{
    position: absolute;
    margin-left: 10%;
    height: 100%;
}



@media screen and (max-width:1200px) {
    .hero-comp{
        flex-direction: column;
    }
    .hero-left{
        width: 100%;
        align-items: center;
    }
    .hero-right{
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .hero-comp{
        padding-top: 160px;
    }
    .hero-left>h1{
        font-size: 22vw;
        line-height: 0.9;
    }
}