.ourteam{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.ourteam>h1{
    color: white;
    font-size: 4vw;
    width: 60%;
    text-align: center;
}
.ourteam>h1>span{
  color: rgb(133, 64, 196);
}
.ourteam-container{
    width: 1200px;
    display: flex;
    gap: 30px;
    overflow: hidden;
    overflow-x: auto;
}

.ourteam-container::-webkit-scrollbar {
   height: 10px;
  }

  
  .ourteam-container::-webkit-scrollbar-track {
    background:  linear-gradient(to right,rgba(29, 29, 52, 0),rgba(10, 10, 21, 0),rgb(184, 240, 223,0.5), rgb(184, 240, 223,0.5), rgb(184, 240, 223,0.5), rgba(10, 10, 21, 0), rgba(10, 10, 21, 0)) ;
    padding: 10px 0;
    border-radius: 5px; 
  }
  
  .ourteam-container::-webkit-scrollbar-thumb {
    width: 20px;
    background: linear-gradient(to right,rgba(10, 10, 21, 0),rgba(10, 10, 21, 0),rgba(10, 10, 21, 0), blue , rgba(10, 10, 21, 0), rgba(10, 10, 21, 0), rgba(10, 10, 21, 0)) ;/* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for thumb */
  }
  
  .ourteam-container::-webkit-scrollbar-thumb:hover {
    background: #666; /* Color of thumb on hover */
  }
@media screen and (max-width: 1250px) {
    .ourteam-container{
        width: 90%;
    }
}
@media screen and (max-width: 900px) {
  .ourteam>h1{
    font-size: 8vw;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .ourteam{
    padding: 40px 0;
  }
  .ourteam>h1{
    font-size: 9vw;
  }
}